<table class="membership_list ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% memberships.each do |membership| %>
  <%= membership_table_row(membership) %>
<% end %>
</table>

