Your friends are looking for this stuff. Can you help any of them out?

<% @postings.each do |posting| %>
  <p>
    <%= posting.user.full_name %>
    <%= posting.have ? 'has' : 'needs' %>
    <%= link_to posting.description, new_posting_offer_url(posting) %>.
  </p>
<% end %>

Thanks,
The Shareon.it Team