/* begin rails defaults */

body { 
  background-color: #99cd68;
  margin: 0;
  padding: 0; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions { margin-bottom: 10px; }

#notice {
  color: #99cd68;
  margin: 0 0 10px 0;
}

#notice a {
  color: #99cd68;
}

#notice a:hover {
  color: #6699ce;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* end rails defaults */

#header { 
  width: 100%;
  height: 115px;
  background-color: #6699ce;
}

#header_content {
  width: 950px;
  margin: 0 auto 0 auto;
  text-align: left;
}

#header_content img {
  width: 449px;
  height: 85px;
  margin: 15px 0 0 -7px;
}

#header_content a:hover {
  background-color: transparent;
}

#nav {
  width: 100%;
  height: 40px;
  background-image: url('../images/nav.gif');
  margin: 0 0 15px 0;
}

#nav_content {
  width: 970px;
  height: 40px;
  background-color: #404040;
  margin: 0 auto 0 auto;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #404040;
	-moz-box-shador: 2px 2px 7px #404040;
	box-shadow: 2px 2px 7px #404040;
}

#nav_list {
  padding: 0;
  margin: 5px 0 0 5px;
	float: left;
	list-style: none;
}

#nav_list li { 
  float: left;
  margin-right: 20px;
}

#nav_list li a {
	color: white;
	display: block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav_list li a:hover { 
  color: #6699ce;
  background-color: transparent;
}

#nav_list li a.current, a:hover.current {
  color: #404040;
  background-color: #99cd68;
	-moz-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #404040;
}

#login {
  padding: 11px 10px 0 0;
  margin: 0;
  float: right;
  text-align: right; 
}

#login a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#login a:hover { color: #6699ce; }

#page {
  width: 950px;
  margin: 20px auto 10px auto;
  text-align: left; 
  background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	border-style: solid;
	border-color: #404040;
}

#landing {
  width: 950px;
  margin: 0 auto 20px auto;
}

#splash {
  font-weight: bold;
  background-image: url(http://photos.shareon.it/splash.png);
  color: white;
  margin: 0 auto;
  width: 680px;
  height: 600px;
}

#splash .new_user_session {
  padding: 255px 0 0 225px;
}

input[type="text"], input[type="password"] {
  width: 220px;
}

#content { 
  padding: 10px 20px 10px 20px; 
	overflow: hidden;  
}

#footer {
  width: 950px;
  margin: 0 auto 10px auto;
}

#footer p {
  text-align: center; 
  font-size: small;
  margin-top: 0;
}

.button, .buttonset { margin-bottom: 10px; }

h1 { 
  color: #404040;
  font-size: 18pt; 
}

h2 {
  color: #44cd51;
  font-size: 16pt;
}

a.truncate:hover { color: #6699ce; }

#top {
  height: 100px;
}

#buttons {  
  float: left;
}

#search { 
  float: right; 
}

#search input {
  width: 330px;
  float: right;
}

#categories {
  width: 330px;
  text-align: right;
  float: right;
}

posting_list { width: 100%; }

#categories ul { padding: 0; }

#categories ul li { display: inline; }

#posting_list { border-bottom: 1px solid #6699ce; }

.list_element {
  width: 900px;
  min-height: 75px;
  padding: 5px;
  border-top: 1px solid #6699ce;
	overflow: hidden;
}

.list_element:nth-child(odd) {
  background-color: #E6FFE6;
}

.list_left {
  width: 700px;
  float: left;
  text-align: left;
}

.photo {
  float: left;
  padding: 0 10px 0 0;
  min-height: 75px;
}

.description a {
  font-weight: bold;
  color: #4C7CAE;
  text-decoration: none;
}

.list_right {
  width: 200px;
  float: right;
  text-align: right;
}

textarea {
  width: 390px;
  height: 100px;
}

a { color: #404040; }
a:visited { color: #404040; }
a:hover { color: #6699ce; }

a.ui-button { color: white; }
a.ui-button:hover { color: white; }

.price {
  font-weight: bold;
  color: green;
  margin: 10px 7px 10px 0;
}

.subtext {
  color: gray;
  margin-top: 2px;
}

.subtext a { color: gray; }
.subtext a:hover { color: #6699ce; }

div.buttonset a.ui-button { margin-right: -.5em; }

table {
  width: 100%;
  margin-bottom: 0; 
  border-collapse: collapse;
}

table .buttonset { 
  padding: 5px 5px 5px 5px; 
  text-align: center;
}

table tr:nth-child(even) { background-color: #E6FFE6; }

#posting_info { width: 390px; }
