/* begin rails defaults */

body { background-color: #e3e9ff; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions { margin-bottom: 10px; }

#notice, #offer_notice {
  color: #44cd51;
  margin-bottom: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* end rails defaults */

#header { 
  height: 50px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo a:hover {
  background-color: transparent;
}

#login {
  text-align: right;
  padding-top: 5px;
}

#content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  min-height: 500px;
}

#search { margin-bottom: 10px; }

ul.nav {
	width: 100%;
	float: left;
	padding: 0;
	list-style: none;
	margin: 0px;
}

.nav li { float: left; }

#topnav .nav li { margin-right: 20px; }

#sidenav .nav li { margin-bottom: 10px; }

.nav li a {
  color: #44cd51;
	display: block;
	padding: 15px 0px 15px 0px;
	width: 80px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#sidenav .nav li a {
  text-align: left;
  padding-left: 7px;
}

.nav li a:hover { 
  color: black;
  background-color: transparent;
}

.nav li a.current, a:hover.current {
  color: black;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0px;
}

th {
  border: 1px solid silver;
  padding: 0.5em;
  color: white;
  background-color: #44cd51;
}

tr { border: 1px solid silver; }

td {
	padding: 0.5em;
	border: 1px solid silver;
	background-color: white;
}

/*table tbody tr:nth-child(even) td,*/
/*table tbody tr.even td {*/
/*  background: #f0f0f0;*/
/*}*/

.button { margin-bottom: 10px; }

.buttonset { padding: 5px 0px 5px 5px; }

#footer p {
  margin-top: 10px; 
  text-align: center; 
  font-size: small;
}

h1 { 
  color: #44cd51;
  font-size: 18pt; 
}
