/* begin rails defaults */

body { 
  background-color: #99cd68;
  margin: 0;
  padding: 0; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions { margin-bottom: 10px; }

#notice {
  color: #99cd68;
  margin: 0 0 10px 0;
}

#notice a {
  color: #99cd68;
}

#notice a:hover {
  color: #6699ce;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* end rails defaults */

#header { 
  width: 100%;
  height: 117px;
  background-color: #6699ce;
}

#header_content {
  width: 950px;
  margin: 0 auto 0 auto;
  text-align: left;
}

#header_content img {
  width: 449px;
  height: 85px;
  margin-top: 15px;
}

#header_content a:hover {
  background-color: transparent;
}

#nav {
  width: 100%;
  height: 50px;
  background-color: #404040;
  margin: 0 0 10px 0;
}

#nav_content {
  width: 950px;
  height: 50px;
  margin: 0 auto 0 auto;
}

#nav_list {
  padding: 0;
  margin-top: 10px;
	float: left;
	list-style: none;
}

#nav_list li { 
  float: left;
  margin-right: 20px;
}

#nav_list li a {
	color: white;
	display: block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav_list li a:hover { 
  color: #6699ce;
  background-color: transparent;
}

#nav_list li a.current, a:hover.current {
  color: #404040;
  background-color: #99cd68;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #404040;
}

#login {
  padding: 15px 10px 0 0;
  margin: 0;
  float: right;
  text-align: right; 
}

#login a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#login a:hover { color: #6699ce; }

#page {
  width: 950px;
  margin: 0 auto 0 auto;
  text-align: left; 
  background: white;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-width: 3px;
	border-style: solid;
	border-color: #404040;
}

#content { padding: 10px 20px 20px 20px; }

#footer {
  width: 950px;
  margin: 0 auto 10px auto;
}

#footer p {
  text-align: center; 
  font-size: small;
}

.button, .buttonset { margin-bottom: 10px; }

h1 { 
  color: #44cd51;
  font-size: 18pt; 
}

h2 {
  color: #44cd51;
  font-size: 16pt;
}

a.truncate:hover { color: #6699ce; }

#buttons { float: left; }

#search { float: right; }

#categories {
  width: 300px;
  text-align: right;
}

#categories ul { padding: 0; }

#categories ul li { display: inline; }

#posting_list { border-bottom: 1px solid #6699ce; }

.list_element {
  width: 900px;
  min-height: 75px;
  padding: 5px;
  border-top: 1px solid #6699ce;
	overflow: hidden;
}

.list_element:nth-child(odd) {
  background-color: #E6FFE6;
}

.list_left {
  width: 700px;
  float: left;
  text-align: left;
}

.photo {
  float: left;
  padding: 0 10px 0 0;
  min-height: 75px;
}

.list_right {
  width: 200px;
  float: right;
  text-align: right;
}

textarea {
  width: 390px;
  height: 100px;
}

a { color: #362B36; }
a:visited { color: #362B36; }
a:hover { color: #6699ce; }
a.ui-button :hover { color: #99cd68; }

.price {
  font-weight: bold;
  color: green;
  margin: 10px 7px 10px 0;
}

.subtext {
  color: gray;
  margin-top: 2px;
}

.subtext a { color: gray; }
.subtext a:hover { color: #6699ce; }

div.buttonset a.ui-button { margin-right: -.5em; }

table {
  width: 100%;
  margin-bottom: 0; 
  border-collapse: collapse;
}

table .buttonset { 
  padding: 5px 5px 5px 5px; 
  text-align: center;
}

table tr:nth-child(even) { background-color: #E6FFE6; }
