<% if postings.empty? %>
  No results found. <%= link_to 'Display All', :action => action_name %>.
<% else %>
  <%= will_paginate postings %>
  <div id="posting_list">
    <% postings.each do |posting| %>
      <%= posting_div(posting) %>
    <% end %>
  </div>
  <%= will_paginate postings %>
<% end %>
