<% if postings.empty? %>
  No results found. <%= link_to 'Display All', request_path %>.
<% else %>
  <%= will_paginate postings %>
  <div class="list">
    <% postings.each do |posting| %>
      <%= posting_div(posting) %>
    <% end %>
  </div>
  <%= will_paginate postings %>
<% end %>
