<table id="posting_list" class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Description</th>
    <th>User</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% postings.each do |posting| %>
  <%= raw(posting_table_row(posting)) %>
<% end %>
</table>

