<%= new_posting_link %>

<div id="search">
  <% form_tag request.path, :method => :get do %>
    <%= text_field_tag 'search', nil, :placeholder => 'search term here' %>
  <% end %>
</div>

<%= render :partial => 'postings/list', :object => @postings, :as => :postings %>
