<% content_for :head do %>
<script>
  $(document).ready(function() {
    $("#posting_from_date").datepicker();
    $("#posting_to_date").datepicker();
  });
</script>
<% end %>

<h1>New posting</h1>

<%= render :partial => 'form' %>

