<%= javascript_include_tag 'application' %>

<h1>Add Users</h1>

<%= form_tag community_invitations_path(@community), :method => :post, :remote => true do %>
  <div class="field">
    User emails (comma separated)<br/>
    <%= text_area_tag 'emails' %>
  </div>
  
  <div class="actions">
    <%= submit_tag 'Send Invitations', :disable_with => 'Submitting...', :class => 'button' %>
  </div>
<% end %>