<table id="community_list" class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <th>Name</th>
    <th>Description</th>
    <th>Zip Code</th>
    <th>Status</th>
    <th></th>
  </tr>

<% communities.each do |community| %>
  <%= raw(community_table_row(community)) %>
<% end %>
</table>
