<% form_tag submit_feedback_path, :remote => true do %>
  <div class="field">  
    <%= label_tag 'feedback' %>
    <%= text_area_tag 'feedback_text' %>
  </div>
  
  <div class="action">
    <%= submit_tag 'Send', :class => 'button' %>
  </div>
<% end %>