<%= javascript_include_tag application_js_path %>

<h1>Penny for Your Thoughts?</h1>

<p>Help us make Shareon.it better for you!</p>

<%= render :partial => 'form' %>

<div id="loading"><%= image_tag 'loading.gif' %></div>
